<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Trainer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
</head>
<style>
    /* body{  */
        /* background-color: rgba(175, 12, 12, 0.945); */
        /* background-image: url('/images/pexels-karolina-grabowska-4386404.jpg');   */
        /* background-size: 100%;  */
    /* } */
    .container{
        margin-left: 200px;
        margin-top: 40px;
    }
    .list{
        display: inline;
        margin: 20px;
        padding: 7px;
        border: solid black 5px;
        border-radius: 10px;
        font-size: 30px;
        font-weight: bold;
        background-color: white;
        cursor: pointer;
        color:black;
    }
    .list:hover{
        color: rgb(235, 36, 36)
    }
    .rules{
        margin-top: 40px;
        margin-left: 100px;
        padding: 15px;
        font-size: 50px;
        font-weight: lighter; 
        font-family: 'Creepster', cursive;
        color: white
    }
    .middle{
        background-color: rgba(0, 0, 0, 0.774);
    }
    .features{
        /* display: inline-block; */
        width: 600px;
        height: fit-content;
        border: solid black 8px;
        padding: 10px;
        margin: 30px;
        margin-left: 70px;  
        text-align: center;
        float: left;
    }
    .feat{
        display: block;
        font-size: 30px;    
        margin: 25px;
        padding: 2px;
        /* margin-left: 400px; */
        font-weight: bold;
        color: rgb(216, 10, 10);
        border: solid black 2px; border-radius: 4px;
        margin-left: 0px;
    }
    #backgroundImage{z-index: 1;} 

#backgroundImage:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-image: url(/images/pexels-pixabay-47344.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.3;
    filter:alpha(opacity=40);
    height:100%;
    width:100%;  
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(235, 36, 36)
}
.login{
    width: 400px;
    /* background: #ffff; */
    margin-top: 150px;
    margin-left: 500px;
    height: fit-content;
    border: solid black 8px;
    text-align: center;
}
.input{
    padding: 3px;
    color: black;
    /* background-color: crimson; */
    display: block;
    margin-left: 26px;
    margin-top: 28px;
    font-size: 24px;
    text-align: center;
}
.register{
    font-size: 30px;
    color: purple;
    border: solid black 4px;
}
.toggle{
    margin : 10px;
    margin-top: 14px;
    padding: 6px;
    color: red;
    cursor: pointer;
    background: black;
    font-size: 22px;
    font-style: italic;
    font-weight: bolder;
}
.under{
    background-color:white;
    color: rgb(65, 7, 80);
    padding: 4px;
    border: 4px solid black;
    border-radius: 6px;
    font-weight: bolder;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}
</style>
<body>
    <div id="backgroundImage">

    </div> 
    <!-- <div class="container">
        <ul class="ul1">
            <li class="list"><a href="/">Home</a></li>
            <li class="list"><a href="/Live">Stock Rates</a></li>
            <li class="list"><a href="/portfolio">Portfolio</a></li>
            <li class="list"><a href="/transaction">Transactions</a></li>
            <li class="list"><a href="/friends">Friends Performance</a></li>
        </ul>
    </div> -->
    <div> 
    </div>
    <div class="login">
        <form action="/sell" id="first" method="POST">
            <label for="userid"></label>
            <input style="margin-left: 50px;" type="text" name ="userid" class="input" value="<%= userid %>" readonly>
            <label for="stockname"></label>
            <input style="margin-left: 50px;" type="text" name ="stockname" class="input" value="<%= stockname %>" readonly>
            <label for="currval"></label>
            <input style="margin-left: 50px;" type="text" name ="currval" class="input" value="<%= currval %>" readonly>
            <label for="quantity"></label>
            <input style="margin-left: 50px;" type="number" name ="quantity" class="input" placeholder="Enter Quantiy to sell"required>
            <button type="submit" class="gap" style="margin: 25px; padding : 8px; font-size: larger;">
                SELL
            </button>
        </form>
    </div>
    
    <!-- <img src="/images/pexels-burak-k-187041.jpg" height="800px" width="1100px" alt="">  -->
    <!-- <script src="temp.js"></script> -->
</body>
</html>